@charset "utf8";

body {}
.dashboard-content {min-height: 100vh;}
.fixed-top {z-index: 915;}
.sidebar-dark {z-index: 910;}
.alert-catcool, .alert {
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.4);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.4);
}
.alert p {padding: 0; margin: 5px;}
.catcool-center {margin: 0 auto; display: block;}
.border-none, .border-none td {border: 0px solid;}
.loading {width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.1); display: block; z-index: 900; position: fixed;}
.loading .dashboard-spinner {
    position: fixed;
    z-index: 1100;
    top: 50%;
    left: 50%;
    transform: translate(0px,0px);
    -moz-transform: translate(0px,0px);
    -webkit-transform: translate(0px,0px);
    -o-transform: translate(0px,0px);
    -ms-transform: translate(0px,0px);
}
.float-right {float: right;}
.content-height .ck-content {min-height: 500px;}
.content-height .ck-editor__main {z-index: 999;}
.content-height .ck-editor p {margin: 0; padding: 0;}
.content-height .ck-focused {z-index: 999 !important; background-color: #ffffff;}
.ck.ck-sticky-panel .ck-sticky-panel__content_sticky {top: 67px !important;}
.list_checkbox { height: auto; min-height: 100px; max-height: 150px; overflow-y: scroll; margin-bottom: 10px; }
#list_category { }
#list_permission { height: auto; }
.tox-statusbar__branding {display: none !important;}
.table .img-thumbnail {width: 120px;}
.table .list_datetime {font-size: 12px; font-style: italic; color: #a9a9a9;}
.img-photo-list {content: url('data:image/gif;base64,R0lGODlhAQABAPAAAAAAAAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=='); background-position: center; background-repeat: no-repeat; background-size: cover; width: 100%; height: 270px; display: block;}