@charset "utf8";

body {

}
.dashboard-content {

}
.fixed-top {
    z-index: 915;
}
.sidebar-dark {
    z-index: 910;
    background: url('../images/auth-bg.jpg') no-repeat center center;
}
.sidebar-dark .slimScrollDiv {
    background-color: rgba(14, 12, 40, .5);
}
.alert-catcool, .alert {
    z-index: 2000 !important;
}
.dashboard-content .alert {
    z-index: 100 !important;
}
.alert p {padding: 0; margin: 5px;}
.catcool-center {
    margin: 0 auto;
    display: block;
}
.border-none, .border-none td {
    border: 0px solid;
}
.loading {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    display: block;
    z-index: 900;
    position: fixed;
}
.loading .dashboard-spinner {
    position: fixed;
    z-index: 1100;
    top: 50%;
    left: 50%;
    transform: translate(0px,0px);
    -moz-transform: translate(0px,0px);
    -webkit-transform: translate(0px,0px);
    -o-transform: translate(0px,0px);
    -ms-transform: translate(0px,0px);
}
.float-right { float: right; }
.content-height .ck-content {
    min-height: 500px;
}
.content-height .ck-editor__main {
    z-index: 999;
}
.content-height .ck-editor p {
    margin: 0;
    padding: 0;
}
.content-height .ck-focused {
    z-index: 999 !important;
    background-color: #ffffff;
}
.ck.ck-sticky-panel .ck-sticky-panel__content_sticky {
    top: 67px !important;
}
.list_checkbox {
    height: auto;
    min-height: 100px;
    max-height: 150px;
    overflow-y: scroll;
    margin-bottom: 10px;
}
#list_category {

}
#list_permission {

}
#modal_image_crop  {
    background-color: rgba(0, 0, 0, 0.9);
}
#modal-image, #modal_image_crop {
    padding: 0 !important;
}
#modal-image #filemanager {
    width: 95% !important;
    max-width: 95% !important;
}
#modal_image_crop #crop_manager {
    width: 98% !important;
    max-width: 98% !important;
    min-height: 95% !important;
}
.tox-statusbar__branding {
    display: none !important;
}
.table .img-thumbnail {
    width: 120px;
}
.table .list_datetime {
    font-size: 12px; font-style: italic; color: #a9a9a9;
}
.img-photo-list {
    content: url('data:image/gif;base64,R0lGODlhAQABAPAAAAAAAAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 200px;
    max-height: 220px;
    margin: 0 auto;
    display: block;
}
ul.list-album-photos {
    list-style: none;
    margin: 0;
    padding: 0;
}
.list-photos-grid .top_right, .list-album-photos .top_right {
    position: absolute;
    top: 10px;
    right: 20px;
}
.list-photos-grid .top_left, .list-album-photos .top_left {
    position: absolute;
    top: 15px;
    left: 20px;
}
.list-photos-grid .switch-button, .list-photos-grid .btn, .list-album-photos .btn {
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.list-photos-grid .photo-item.hover .switch-button, .list-photos-grid .photo-item.hover .btn,
.list-album-photos .photo-item.hover .btn {
    visibility: hidden;
}
.list-photos-grid .photo-item.hover:hover .switch-button,
.list-photos-grid .photo-item.hover:hover .btn, .list-album-photos .photo-item:hover .btn {
    visibility: visible;
}
#filemanager .image-setting {
    position: absolute;
    top: 5px;
    right: 15px;
}
a[data-toggle="image"] {
    width: 100%;
    max-width: 150px;
    margin: 10px auto;
    display: block;
}
.required-label:after {
    content: ' *';
    color: #EF4E4E;
    font-weight: bold;
}

/* scrollMenu */
.nav-left-sidebar .logo-image-mobile img {
    height: 30px;
    background-color: #ffffff;
    padding: 0 5px;
    border-radius: 5px;
}
.nav-left-sidebar .btn-scroll {
    display: block;
    width: 45px;
    height: 45px;
    margin: 15px auto 5px auto;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
}
.nav-left-sidebar .menu-left-icon, .menu-sub-left-icon {
    display: block;
    width: 45px;
    height: 45px;
    padding-top: 5px;
    margin: 5px auto 5px auto;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(36, 34, 74, .5);
    background-image: linear-gradient(#26568c, #1395e4, #1393ce);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.nav-left-sidebar .menu-left-icon i {
    margin-top: 6px;
    font-size: 23px;
    color: #fff
}
.navbar-full-text {
    width: 200px;
}
.navbar-full-text-content {
    margin-left: 200px;
}
.navbar-full-text .btn-scroll {
    width: 40px;
    height: 40px;
    margin: 12px 7px 0px 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 200;
}
.nav-left-sidebar-scrolled { width: 33px; }
.nav-left-sidebar-content-scrolled { margin-left: 33px; }
.nav-left-sidebar-scrolled .btn-scroll {
    width: auto;
    height: auto;
    padding-top: 3px;
    margin: 4px 0 0 -3px;
    border-radius: 0px;
    right: -2px;
    position: static;
}
.nav-left-sidebar-scrolled .navbar-light { display: none; }
.menu-sub-left-icon {
    width: 60px;
    height: 60px;
    padding-top: 7px;
}
.menu-sub-left-icon a { font-size: 32px; color: #fff }
.menu-sub-left-icon:hover, .menu-sub-left-icon.active {
    background: rgba(38, 85, 139, .5);
    background-image: linear-gradient(#f8407c, #ff6296, #e82a68);
}
.nav-left-sidebar-scrolled .menu-left-icon { display: none;}
.nav-left-sidebar .menu-left-icon:hover, .nav-left-sidebar .menu-left-icon.active {
    background: rgba(38, 85, 139, .5);
    background-image: linear-gradient(#f8407c, #ff6296, #e82a68);
}
.nav-left-sidebar .menu-left-icon:hover i, .nav-left-sidebar .menu-left-icon.active i {
    transform: scale(1.3);
}
.menu-left-icon .tooltiptext {
    display: none;
    width: 70px;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 7px 2px;
    font-size: 13px;
    text-overflow: ellipsis;
    overflow: hidden;
    /* Position the tooltip */
    position: absolute;
    z-index: 999;
    margin: 8px 0 0 -13px;
}

.menu-left-icon:hover .tooltiptext {
    display: block;
    background: rgba(38, 85, 139, .9);
}
.menu-left-icon .tooltiptext:hover {
    display: none;
}
.popup-sub-menu-left {
    z-index: 1500;
}
.navbar-dropdown-menu-top {
    max-height: 100vh;
    overflow: auto;
}
/* end scrollMenu */
.nav-user-img:hover img {
    transform: scale(1.4);
}

/* end sortable */
.sortable_photos .top_right { top: 20px; }
.sortable_photos .sortable-ghost {
    opacity: .8;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    border: 1px dashed #000080;
    box-sizing: border-box;
    border-radius: 5px;
}
.dd .dd-handle {
    padding: 5px 10px;
}
.dd .dd-item>button {
    margin: 11px 0;
    color: red;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}
.dd-item>button[data-action="collapse"]:before {
    content: '\f068';
}
.dd-item>button:before {
    content: '\f067';
}
.dd ol .dd-handle:hover {
    background-color: #f0f0f0;
}
.dd ol, .dd ol .dd-handle, .dd ol [data-action="collapse"], dd ol [data-action="expand"] {
     background-color: #f8fbff;

}
.dd ol ol, .dd ol ol ol, .dd ol ol .dd-handle, .dd ol ol [data-action="collapse"], dd ol ol [data-action="expand"] {
    background-color: #fcfcfc;
}
.dd ol ol ol .dd-handle, .dd ol ol ol [data-action="collapse"], dd ol ol ol [data-action="expand"] {
    background-color: #ffffff;
}
/* end sortable */

/**** Cropper ****/
#crop_manager .img-container,
#crop_manager .img-preview {
    background-color: #f7f7f7;
    text-align: center;
    width: 100%;
}

#crop_manager .cropper-modal {
    opacity: 0.7;
}
#crop_manager .img-container {
    margin-bottom: 1rem;
}

#crop_manager .img-container > img {
    max-width: 100%;
}

#crop_manager .docs-preview {
    margin-right: -1rem;
    overflow: auto;
}

#crop_manager .img-preview {
    float: left;
    margin-bottom: .5rem;
    margin-right: .5rem;
    overflow: hidden;
}

#crop_manager .img-preview > img {
    max-width: 100%;
}

#crop_manager .preview-lg {
    height: 9rem;
    width: 16rem;
}

#crop_manager .preview-md {
    height: 4.5rem;
    width: 8rem;
}

#crop_manager .preview-sm {
    height: 2.25rem;
    width: 4rem;
}

#crop_manager .preview-xs {
    height: 1.125rem;
    margin-right: 0;
    width: 2rem;
}
#crop_manager .cropper-container {
    margin: 0 auto;
}

#getCroppedCanvasModal canvas {
    margin: 0 auto;
    max-width: 100%;
}
/**** end cropper ****/


/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .nav-left-sidebar-scrolled { width: auto; }
    .nav-left-sidebar-scrolled .navbar-light { display: flex; }
    .nav-left-sidebar-content-scrolled { margin-left: 0; }
    .navbar-full-text { width: auto; }
    .navbar-full-text-content { margin-left: 0; }
    .img-container {
        min-height: 497px;
    }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    .nav-left-sidebar-scrolled { width: auto; }
    .nav-left-sidebar-scrolled .navbar-light { display: flex; }
    .nav-left-sidebar-content-scrolled { margin-left: 0; }
    .navbar-full-text { width: auto; }
    .navbar-full-text-content { margin-left: 0; }
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .nav-left-sidebar-scrolled { width: auto; }
    .nav-left-sidebar-scrolled .navbar-light { display: flex; }
    .nav-left-sidebar-content-scrolled { margin-left: 0; }
    .navbar-full-text { width: auto; }
    .navbar-full-text-content { margin-left: 0; }
}