@charset "utf8";

body {}
.dashboard-content {}
.fixed-top {z-index: 915;}
.sidebar-dark {z-index: 910; background: url('../images/auth-bg.jpg') no-repeat center center;}
.sidebar-dark .slimScrollDiv { background-color: rgba(14, 12, 40, .5);}
.alert-catcool, .alert {
    z-index: 2000 !important;
}
.dashboard-content .alert {
    z-index: 100 !important;
}
.alert p {padding: 0; margin: 5px;}
.catcool-center {margin: 0 auto; display: block;}
.border-none, .border-none td {border: 0px solid;}
.loading {width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.1); display: block; z-index: 900; position: fixed;}
.loading .dashboard-spinner {
    position: fixed;
    z-index: 1100;
    top: 50%;
    left: 50%;
    transform: translate(0px,0px);
    -moz-transform: translate(0px,0px);
    -webkit-transform: translate(0px,0px);
    -o-transform: translate(0px,0px);
    -ms-transform: translate(0px,0px);
}
.float-right {float: right;}
.content-height .ck-content {min-height: 500px;}
.content-height .ck-editor__main {z-index: 999;}
.content-height .ck-editor p {margin: 0; padding: 0;}
.content-height .ck-focused {z-index: 999 !important; background-color: #ffffff;}
.ck.ck-sticky-panel .ck-sticky-panel__content_sticky {top: 67px !important;}
.list_checkbox { height: auto; min-height: 100px; max-height: 150px; overflow-y: scroll; margin-bottom: 10px; }
#list_category { }
#list_permission { }
.tox-statusbar__branding {display: none !important;}
.table .img-thumbnail {width: 120px;}
.table .list_datetime {font-size: 12px; font-style: italic; color: #a9a9a9;}
.img-photo-list {content: url('data:image/gif;base64,R0lGODlhAQABAPAAAAAAAAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=='); background-position: center; background-repeat: no-repeat; background-size: cover; width: 100%; max-height: 220px; display: block;}
ul.list_album_photos {list-style: none; margin: 0; padding: 0;}
.list_photos_grid .top_right, .list_album_photos .top_right {position: absolute;  top: 10px;  right: 20px;}
.list_photos_grid .top_left, .list_album_photos .top_left {position: absolute;  top: 15px;  left: 20px;}
#filemanager .image-setting {position: absolute; top: 5px; right: 15px;}
a[data-toggle="image"] {width: 100%;max-width: 150px;margin: 10px auto;display: block;}
.required-label:after { content: ' *'; color: #EF4E4E; font-weight: bold;}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {

}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

}